<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAZi-tWygmn7lUDkCt2K1DAycUhD47Ir5I</string>
	<key>GCM_SENDER_ID</key>
	<string>512859588374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bp.polytechnic.Donation</string>
	<key>PROJECT_ID</key>
	<string>fooapp-2c2ae</string>
	<key>STORAGE_BUCKET</key>
	<string>fooapp-2c2ae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512859588374:ios:60131c29d0e28648623237</string>
</dict>
</plist>