<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIApplicationSupportsMultipleScenes</key>
    <false/>
    <key>Application Scene Manifest</key>
    <dict>
        <key>Enable Multiple Windows</key>
        <false/>
    </dict>
    <key>NSUserNotificationsUsageDescription</key>
    <string>We need notifications to alert you of new messages</string>
	<key>supabaseKey</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR5dGxyaXF3cnN5eXRud2pubXpwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0ODkxMzgsImV4cCI6MjA4MjA2NTEzOH0.GyrUjaI_m5rs020nNLquoX_RoUU0KuNBTFSoPJK28PY</string>
	<key>supabaseURL</key>
	<string>https://dytlriqwrsyytnwjnmzp.supabase.co</string>
</dict>
</plist>
